td {
  padding: 0px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #222;
}

nav {
  margin-bottom: 20px;
}

#container {
  margin: 3em;
  padding: 10px;
}

#tools {
  width: 100px;
  position: absolute;
  top: 70px;
  right: 100px;
}

#colorSquare {
  width: 18px;
  height: 18px;
  border: 2px solid black;
  padding: 10px;
  margin: 10px auto;
  border-radius: 5px;
  background: #ab2567
}

.sp-replacer {
  border: none;
  background: none;
  color: none;
}

.sp-dd {
  display: none;
}
