td {
  width: 3px;
  height: 3px;
  padding: 0px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #222;
}

nav {
  margin-bottom: 20px;
}

#container {
  margin: 3em;
  padding: 10px;
}
