<div id="communityArtworksList" class="masonryGrid"></div>

<div class="ui basic modal show-artwork">
  <div class="content">
    <h1 id="titleHeader">Title Goes Here</h1>
    <div class="actions">
      <table id="imageHolder"></table>
    </div>
  </div>
</div>

<script src='../js/communityArtworks.js'></script>
<script type="text/javascript">
  var $grid = $('.masonryGrid').masonry({
    itemSelector: '.grid-item',
    gutter: 10,
    transitionDuration: '1s',
    stagger: 30
  })
  // layout Masonry after each image loads
  $grid.imagesLoaded().progress(function() {
    $grid.masonry('layout')
  })
</script>
