<div class="ui basic modal save-canvas">

  <div class="content">
    <h1>Create a New Canvas</h1>
      <div class="actions">
        <form id="saveCanvasForm" class="ui form">
          <label>Title</label>
          <input id="title" class="field" type="text" placeholder="title" name="title">
          <!-- <label>Public</label> -->
          <!-- <input id="public" class="field" type="checkbox" name="public"> -->
          <input class="ui button ok" type="submit">
        </form>
      </div>
  </div>

</div>

<script src="../js/saveCanvasModal.js"></script>
