<input type="hidden" id="picker" class="jscolor" onchange="update(this.jscolor)" value="ab2567">


<div id="mainToolsMenu" class="ui vertical labeled icon menu">
  <a id="brushMenuButton" class="item">
    <i class="paint brush icon"></i>
    Brush Sizes
  </a>

  <a id="colorPicker" class="item">
    <i></i>
    <div id="colorSquare">
    </div>
    Color
  </a>
  <a class="item">
    <i class="eyedropper icon"></i>
    Eyedropper
  </a>
  <a id="gridToggle" class="item">
    <i class="grid layout icon"></i>
    Grid Toggle
  </a>
  <a id="eraser" class="item">
    <i class="erase icon"></i>
    Erase
  </a>
  <a id="showSaveModal" class="item">
    <i class="save icon"></i>
    Save
  </a>
</div>


<div id="brushMenu" class="ui labled icon menu">
  <a id="brush1" class="item">
    <i class="paint brush icon"></i>
    Small Brush
  </a>
  <a id="brush4" class="item">
    <i class="paint brush icon"></i>
    Medium Brush
  </a>
  <a id="brush9" class="item">
    <i class="paint brush icon"></i>
    Big Brush
  </a>
</div>

<script src="../js/jscolor.min.js"></script>
<script src="../js/tools.js"></script>
