<div id="mainToolsMenu" class="ui vertical labeled icon menu">

  <a id="colorPicker" class="item">
    <i></i>
    <input id="colorSquare" type='text' class="basic"/>
    <div class="text">Color</div>
  </a>

  <a id="brushMenuButton" class="item dependentTools">
    <i class="paint brush icon"></i>
    Brush
  </a>

  <a id="eyedropper" class="item dependentTools">
    <i class="eyedropper icon"></i>
    Eyedropper
  </a>

  <a id="eraser" class="item dependentTools">
    <i class="erase icon"></i>
    Erase
  </a>

  <a id="gridToggle" class="item">
    <i class="grid layout icon"></i>
    Grid
  </a>

  <a id="showSaveModal" class="item">
    <i class="save icon"></i>
    Save
  </a>

</div>

<!-- BRUSH SIZE MENU -->
<div id="brushMenu" class="ui labled icon menu">
  <a id="brush9" class="item brushSizes">
    <div id="largeBrushIcon" class="brushSize"></div>
    Big
  </a>

  <a id="brush4" class="item brushSizes">
    <div id="mediumBrushIcon" class="brushSize"></div>
    Medium
  </a>

  <a id="brush1" class="item brushSizes">
    <div id="smallBrushIcon" class="brushSize"></div>
    <div class="text">
      Small
    </div>
  </a>
</div>

<script src="../js/tools.js"></script>
